<% if (errorMessages && errorMessages.length) { %>
  <div class="container mt-3">
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% errorMessages.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>
