<%- include('header'); %>
<%- include('error_messages'); %>

<div class="container mt-5">
  <h2>メイン画面</h2>
  <p>ようこそ、<strong><%= user.name %></strong> さん！</p>
  <a href="/expenses" class="btn btn-success">経費一覧を見る</a>
</div>
</body>
</html>
