<%- include('header'); %>

<div class="container mt-5 text-center">
  <h2>ログアウトしました</h2>
  <p>再度ログインするか、新規登録できます。</p>
  <a href="/auth?mode=signin" class="btn btn-primary m-2">ログイン</a>
  <a href="/auth?mode=signup" class="btn btn-secondary m-2">新規登録</a>
</div>
</body>
</html>
